node_modules
html/css/
html/maps/
# こうするとsorcetreeで無視される
wordpress/wp-includes/
wordpress/wp-admin/
wordpress/wp-content/languages/
wordpress/wp-content/plugins/
wordpress/wp-content/uploads/
wordpress/wp-content/themes/twentynineteen
wordpress/wp-content/themes/twentyseventeen
wordpress/wp-content/themes/twentysixteen
package-lock.json
gulpfile.js
