@import '../foundation/base';
@import '../foundation/valuables';

.widthwrapper {
  max-width: 100%;
}

.subtitle {
  margin: 60px 0 30px;
  font-size: 30px;
  text-align: center;
}

.card-container {
  width: 90%;
  height: auto;
  margin: 0 auto;
  padding:0 0 100px;


  .blog-images {
    width: 100%;
    text-align: center;

    .blog-img {
      object-fit: contain;
      max-width: 630px;
      height: auto;
      width: 100%;
    }
  }

  .blog-contents{
    height: 375px;
    margin: $content-mt auto 0;
    padding-left: 30px;

    .date {
      margin-top: $content-mt;
      font-size: 16px;
    }

    .blog-title {
      margin-top: $content-mt;
      font-size: 16px;
      font-weight: normal;
    }

    .text {
      height: 40%;
    }

    .blog-btn {
      font-size: 12px;
      text-align: right;
      padding-right: 30px;
    }

    a {
      position: relative;
      display: inline-block;
      text-decoration: none;
      color: #000;

      &::after {
        position: absolute;
        bottom: -15px;
        left: 0;
        content: '';
        width: 100%;
        height: 2px;
        background: #333;
        transform: scale(0.3, 1);
        transform-origin: right top;
        transition: transform .3s;
        }

      &:hover::after {
        transform: scale(1, 1)
      }
    }
  }
}

@media screen and (min-width:768px) {
  .widthwrapper {
  max-width: 1152px;
  margin: 0 auto;
}

  .flex-wrapper {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: 1024px;
    width: 100%;
  }

  .card-container {
    width: calc(33.33% - 60px / 3);
    height: auto;
    margin-bottom: 30px;
    padding: 0 0 15px;
    cursor: pointer;
    transition:  .3s;

    &:hover {
      box-shadow: 0 0 8px #dedede;
    }

    .blog-images {
      width: 100%;
      text-align: center;
      overflow: hidden;

      .blog-img {
        object-fit: contain;
        height: auto;
        width: 100%;
      }
    }

    .blog-contents {
      height: 196px;
      margin: 0;
      padding-left: 10px;

      .date {
        font-size: 16px;
      }

      .blog-title {
        font-size: 16px;
      }

      .text {
        height: 50%;
      }

      .blog-btn {
        font-size: 12px;
        padding-right: 10px;

      }
    }
  }
}
