.width-wrapper{
      display: block;
      max-width: $site-width;
      margin: 0 auto;
    }
.main-img{
  position: relative;
  box-sizing: border-box;
   padding-top: 3%;
    padding-bottom:3%;

  &__bg img{
       width: 100%;

     }
  &__text{

    &--sp{
      position: absolute;
      left: 8px;
      top: 50px;
      width: 50%;


      & img{
      width: 100%;
      }

    }
    &--pc{
      display:none;
    }
  }
}
.main-text{
  font-size: 32px;
  text-align: center;
  line-height: 1.7;

}


/* MediaQuery */
@media only screen and (min-width: $break-point-pc) {
  .width-wrapper{
      display: block;
      max-width: $site-width;
      width: 100%;
      margin: 0 auto;
    }
  .main{
    margin: 0 auto;
    max-width: $site-width;
  }
  .main-img{
    position: relative;
    max-width: 1024px;
    margin-left: 5%;
    margin-right: 5%;
    padding-top: 3.5%;
    padding-bottom: 4%;
    width: 90%;

    &__bg{
        max-width: 1024px;
        width: 100%;
    }
    &__text--sp img{
      display:none;
    }

    &__text--pc{
      display: block;
      position: absolute;
      right: -6%;
      bottom: -0.8%;
      width: 50%;

      & img{
        width: 100%;
      }
    }

  }
  .main-text{
    font-size: 24px;
    text-align: left;
    line-height: 1.7;

  }
  .br-sp{
    display: none;
  }
}
/* MediaQuery end */
